.search{
    width: 250px;
    margin: 20px;
    background-color: #ffc107;
    color:black;
    border: 1px solid black;

}

body{
    background-image: url(../images/dash_background.jpg);
    background-size: cover;
}