body{
    background-image: url("../images/backdoor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    height: 450px;
}

h2{
    text-align: center;
    border: solid 2px white;
}

.form-signin-heading{
    color: white;
}

.form-signin{
    height: 300px;
}

.btn_sign{
    background-color: #ffc107;
    color: black;
}