body,html{
    height: 100%;
    background-color: black;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar{
    color:#ffffff ;
    background-color: rgba(0, 0, 0, 0.897) ;
    font: 35px;
    font-family: 'Londrina Solid', cursive;
}

.nav-link{
    color: #ffc107 !important;
}

.centered-form{
   margin-top: 5%;
  margin-left: 16.5%;
  width: 200%;

}

.container{
    position: relative;
    color: #ffc107;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
}
.reg_btn{
    background-color: #ffc107;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.479);
    font-family: 'Londrina Solid', cursive;
}
.reg_btn:hover{
    background-color: black;
    color:#ffc107 ;
    border: 2px solid #ffc107;
}
