body{
    background-color: rgb(86, 87, 87);
}
.navbar{
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.897);
    font: 35px;
    font-family: 'Londrina Solid', cursive;
}
.nav-link{
    color: #ffc107 !important;
}

.back {
    max-width:100%;
    height:auto;
    opacity: 0.8777;
    z-index: -1;
    position: relative;
}
.logo{
    position: absolute;
    z-index: 1;
    font: 76px;
    top: 100px; 
    left: 50%;
    width: 600px;
    height: 600px;
    text-align: center;
}
#button_sign{
    z-index: 1;
    font: 76px;
    top: 675px; 
    left: 37%;
    text-align: center  ;
}
#button_log{
    z-index: 1;
    font: 76px;
    top: 675px; 
    left: 48%;
    text-align: center  ;
    width: 83px;
    height: 38px;
}

