{% extends 'base_inside.html' %}

{% block page_name%}Dashboard{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
<h5 style="text-align: center;"><strong>Error:</strong> {{ message }}</h5>
    {% endfor %}
  {% endif %}
{% endwith %}



<form method="POST">
    {{ search_form.hidden_tag() }}
    {{ search_form.search }}
    <button class="btn btn-lg btn-primary search" type="submit">Search</button>

</form>



<div class="container music-feed">
    {% for sample in sample_list %}

    <div class="card" style="width: 80%;">
        <h5 class="card-header">
            <a href="{{ url_for('music.sample_page', sample_id=sample.id) }}">
                {{ sample.title }}
            </a>
        </h5>
      <div class="card-body">
        <h5 class="card-title">Description: {{ sample.description }}</h5>
          <p class="card-text">ID Num: {{ sample.id }}</p>
        <p class="card-text"> TAGS: {{ sample.tags|join(', ', attribute='name') }}</p>
          <audio controls style="width: 600px" class="card-text">
            <source src="{{ sample.path }}" type="audio/wav">
        </audio><br>
        <a href="#" class="btn btn-primary">{{ sample.path }} </a>
      </div>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock %}
